<!-- <div class="message-container card">
    <div class="message-tab">
      <ul class="message-history">
        <li *ngFor="let message of messages">
          <div class="message-history-container">
            <div class="message-sender">
              {{ message.userName }}
            </div>
            <div class="message-content">
              {{ message.content }}
            </div>
          </div>
        </li>
      </ul>
      <div class="message-input">
        <p-chips [(ngModel)]="newMessage" placeholder="Message here"></p-chips>
        <button (click)="sendMessage()" type="button" class="btn-pos p-button-help" [style]="{ width: '150px', height: '40px' }" 
          pButton pRipple icon="pi pi-send"></button>
      </div>
    </div>
</div> -->

<div *ngFor="let message of messages">
  {{message}}
</div>
<form (ngSubmit)="sendMessage(user, message)">
  <input type="text" [(ngModel)]="user" name="user" placeholder="User">
  <input type="text" [(ngModel)]="message" name="message" placeholder="Message">
  <button type="submit">Send</button>
</form>
  