  <div [formGroup]="addPostForm">
    <p-dialog header="Create a post" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <textarea formControlName="postContent" pInputTextarea id="float-input" rows="5" cols="50"></textarea>
      <input formControlName="postImage" style="width: 400px;" pInputText />
      <div class="buttons-container">
        <button pButton pRipple type="submit" label="Submit"  (click)="httpAddPosts()"
            class="modal-button btn-pos p-button-success"></button>
      </div>
    </p-dialog> 
  </div>




  <div class="write-something-container">
    <div *ngIf="userProfilePicture$; else profilePictureDefault">
      <p-avatar image="{{ userProfilePicture$ }}" styleClass="mr-2" size="large" shape="circle"></p-avatar>
    </div>
    <ng-template #profilePictureDefault>
      <p-avatar image="{{ defaultUserProfile$  }}" styleClass="mr-2" size="large" shape="circle"></p-avatar>
    </ng-template>
    <div class="text-area-container">
      <span class="p-float-label">
        <input style="width: 400px;" (click)="showDialog()" [disabled]="visible" pInputText id="write-post" />
        <label htmlFor="write-post">Make a post..</label>
      </span>
    </div>
  </div>




<div class="posts-container" *ngFor="let post of posts">
  <div class="post-container">
    <div class="user-details-container">
      <div *ngIf="post.user?.profileImageUrl; else profilePictureDefault" class="user-profile-image">
        <p-avatar image="{{ post.user?.profileImageUrl }}" styleClass="mr-2" size="large" shape="circle"></p-avatar>
      </div> 
      <div class="name-container">
        {{post.user?.firstName}} {{ post.user?.lastName}}
      </div>
    </div>
    <div class="post-content-container">{{post.content}}</div>

    <div class="write-something-container">
      <div *ngIf="userProfilePicture$; else profilePictureDefault">
        <p-avatar image="{{ userProfilePicture$ }}" styleClass="mr-2" size="large" shape="circle"></p-avatar>
      </div>
      <div [formGroup]="addCommentForm" class="text-area-container">
        <span class="p-float-label">
          <input style="width: 400px;" formControlName="content"  [disabled]="visible" pInputText id="write-post" />
          <label htmlFor="write-post">Write a comment</label>
        </span>
      </div>
    </div> 

    <div class="comment-container" *ngFor="let comment of post.comments">
      <div class="user-details-container">
        <div>{{ comment.user?.firstName }} {{ comment.user?.lastName }}</div>
        <p-avatar image="{{ comment.user?.profileImageUrl }}" styleClass="mr-2" size="large" shape="circle"></p-avatar>
      </div>
      <div>{{ comment.content }}</div>
    </div>
  </div>
</div>