<div *ngIf="product">
    <div class="flex-container">
        <div class="image-container">
            <p-image [src]="product.imageUrl" [alt]="product.title" width="656" [preview]="true"></p-image>
        </div>
        <div class="right-side-container">
            <div class="card product-info-container">
                <h2 class="title">{{product.title}}</h2>
                <div class="sub-title-container">
                    <p-chip label="{{ product.createdDate | date:'shortDate' }}"></p-chip>
                    <p-chip label="{{product.category}}"></p-chip>
                    <p-chip label="Delivery: {{product.canDeliver}}"></p-chip>
                    <p-chip label="New? {{product.isNew}}"></p-chip>
                </div>
                <div class="price-container">
                    <div>{{product.price | currency:'RON '}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-description-container">
        <div class="description-title">
            Description
        </div>
        <div class="description">
            {{product.description}}
        </div>
    </div>
</div>